<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>my weblog</title>

	<!-- $Id$ -->

	</head>
<body>
<!-- ###DOCUMENT_BODY### begin -->
<div id="page">
	<div id="header">
		<h1><a href="###BLOG_HOME###">###BLOG_TITLE###</a></h1>
		<p class="description">###BLOG_TAGLINE###</p>
		
		###PAGENAV_L1###
	</div>
	
	<hr />
	
	<div class="primary">
		<div class="item">
			<div class="center">
				<h2>###PAGE_TITLE###</h2>
			</div>
		
			<div class="itemtext">
				###BLOG_CONTENT_NORMAL###
			</div>			
		</div>
	</div>
	
	<hr />
	
	<div class="secondary">
		<div class="sb-pagemenu"><h2>###K2_SUBPAGES###</h2>
			###PAGENAV_L2###
		</div>
	</div>
	
	<br class="clear" />
</div>

<hr />

<p id="footer">
	<small>
		###BLOG_TITLE### is powered by 
		<a href="http://www.typo3.com" title="TYPO3 - get.content.right">TYPO3</a>
		and 
		<a href="http://www.ingo-renner.com/?id=11" title="Blogging w/TYPO3">timtab</a>
		by
		<a href="http://www.ingo-renner.com">Ingo</a>
	</small>
</p>
<!-- ###DOCUMENT_BODY### end -->		
</body>
</html>